body {
  margin: 0;
  background-color: aqua;
}

.App{
  background-color: beige;
  width: 50%;
  margin: auto;
  box-shadow: 4px 4px 4px blue;
}
h1{
  color: brown;
}
input{
  width: 70%;
  background-color: azure;
}
button{
  width: 20%;
  background-color: cornsilk;
}
span{
  display: inline-block;
  width: 30%;
  padding-right: 20%;
}